
#titulo{
    font-size: 2.5rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#contenido{
    text-justify: auto;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    
}

.btn{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color: #2e9acc;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #7eb3cc;
}

textarea{
	min-height: 150px;
	max-height: 300px;
}


.form-control{
	width: 50%;
	/* border: 2px solid rgba(0, 0, 0, 0);
	outline: none; */
	/* padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s; */
}

.form-control:hover{
	background-color: #ffd8ca2f;
}

