#category{
    width: 17.25rem;
    height: 23rem;
    border-radius:1rem;
}

#second-part {
    /*width: 1235px;
    height: 569px;*/
    background: #F4E6D6;
    border-radius: 30px;
    /*display: flex;
    align-items: center;*/
}







